name: Build nginx

on:
  push:
    branches: ['main']
    paths: ['images/nginx/**']
  workflow_dispatch:

jobs:
  call-build:
    uses: ./.github/workflows/_base.yaml
    permissions:
      packages: write
      attestations: write
      id-token: write
    with:
      image_name: nginx
      context_path: ./images/nginx
